In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
url = "https://raw.githubusercontent.com/datasets/global-temp/master/data/monthly.csv"
df = pd.read_csv(url)
print(df)

     Source     Year    Mean
0      gcag  1850-01 -0.6746
1      gcag  1850-02 -0.3334
2      gcag  1850-03 -0.5913
3      gcag  1850-04 -0.5887
4      gcag  1850-05 -0.5088
...     ...      ...     ...
3818   gcag  2024-03  1.2515
3819   gcag  2024-04  1.2053
3820   gcag  2024-05  1.0745
3821   gcag  2024-06  1.1154
3822   gcag  2024-07  1.1398

[3823 rows x 3 columns]

In [2]:
df = pd.read_csv(url, sep="|")
print(df)

          Source,Year,Mean
0     gcag,1850-01,-0.6746
1     gcag,1850-02,-0.3334
2     gcag,1850-03,-0.5913
3     gcag,1850-04,-0.5887
4     gcag,1850-05,-0.5088
...                    ...
3818   gcag,2024-03,1.2515
3819   gcag,2024-04,1.2053
3820   gcag,2024-05,1.0745
3821   gcag,2024-06,1.1154
3822   gcag,2024-07,1.1398

[3823 rows x 1 columns]

In [3]:
df = pd.read_csv(url,header=None)
print(df)

           0        1        2
0     Source     Year     Mean
1       gcag  1850-01  -0.6746
2       gcag  1850-02  -0.3334
3       gcag  1850-03  -0.5913
4       gcag  1850-04  -0.5887
...      ...      ...      ...
3819    gcag  2024-03   1.2515
3820    gcag  2024-04   1.2053
3821    gcag  2024-05   1.0745
3822    gcag  2024-06   1.1154
3823    gcag  2024-07   1.1398

[3824 rows x 3 columns]

In [6]:
df = pd.read_csv(url,header=1)
print(df)

      gcag  1850-01  -0.6746
0     gcag  1850-02  -0.3334
1     gcag  1850-03  -0.5913
2     gcag  1850-04  -0.5887
3     gcag  1850-05  -0.5088
4     gcag  1850-06  -0.3442
...    ...      ...      ...
3817  gcag  2024-03   1.2515
3818  gcag  2024-04   1.2053
3819  gcag  2024-05   1.0745
3820  gcag  2024-06   1.1154
3821  gcag  2024-07   1.1398

[3822 rows x 3 columns]

In [8]:
df = pd.read_csv(url,names=["src","year","avg"])
print(df)

         src     year      avg
0     Source     Year     Mean
1       gcag  1850-01  -0.6746
2       gcag  1850-02  -0.3334
3       gcag  1850-03  -0.5913
4       gcag  1850-04  -0.5887
...      ...      ...      ...
3819    gcag  2024-03   1.2515
3820    gcag  2024-04   1.2053
3821    gcag  2024-05   1.0745
3822    gcag  2024-06   1.1154
3823    gcag  2024-07   1.1398

[3824 rows x 3 columns]

In [9]:
df = pd.read_csv(url,index_col="Year")
print(df)

        Source    Mean
Year
1850-01   gcag -0.6746
1850-02   gcag -0.3334
1850-03   gcag -0.5913
1850-04   gcag -0.5887
1850-05   gcag -0.5088
...        ...     ...
2024-03   gcag  1.2515
2024-04   gcag  1.2053
2024-05   gcag  1.0745
2024-06   gcag  1.1154
2024-07   gcag  1.1398

[3823 rows x 2 columns]

In [11]:
df = pd.read_csv(url,usecols=["Mean","Year"])
print(df)

         Year    Mean
0     1850-01 -0.6746
1     1850-02 -0.3334
2     1850-03 -0.5913
3     1850-04 -0.5887
4     1850-05 -0.5088
...       ...     ...
3818  2024-03  1.2515
3819  2024-04  1.2053
3820  2024-05  1.0745
3821  2024-06  1.1154
3822  2024-07  1.1398

[3823 rows x 2 columns]

In [19]:
df = pd.read_csv(url,dtype={"Year":object,"Mean":float})
print(df)

     Source     Year    Mean
0      gcag  1850-01 -0.6746
1      gcag  1850-02 -0.3334
2      gcag  1850-03 -0.5913
3      gcag  1850-04 -0.5887
4      gcag  1850-05 -0.5088
...     ...      ...     ...
3818   gcag  2024-03  1.2515
3819   gcag  2024-04  1.2053
3820   gcag  2024-05  1.0745
3821   gcag  2024-06  1.1154
3822   gcag  2024-07  1.1398

[3823 rows x 3 columns]

In [20]:
df = pd.read_csv(url,nrows=20)
print(df)

   Source     Year    Mean
0    gcag  1850-01 -0.6746
1    gcag  1850-02 -0.3334
2    gcag  1850-03 -0.5913
3    gcag  1850-04 -0.5887
4    gcag  1850-05 -0.5088
5    gcag  1850-06 -0.3442
6    gcag  1850-07 -0.1598
7    gcag  1850-08 -0.2077
8    gcag  1850-09 -0.3847
9    gcag  1850-10 -0.5331
10   gcag  1850-11 -0.2825
11   gcag  1850-12 -0.4037
12   gcag  1851-01 -0.2007
13   gcag  1851-02 -0.4693
14   gcag  1851-03 -0.6461
15   gcag  1851-04 -0.5421
16   gcag  1851-05 -0.1976
17   gcag  1851-06 -0.1367
18   gcag  1851-07 -0.0968
19   gcag  1851-08 -0.1018

In [21]:
df = pd.read_csv(url,skiprows=3)
print(df)

      gcag  1850-03  -0.5913
0     gcag  1850-04  -0.5887
1     gcag  1850-05  -0.5088
2     gcag  1850-06  -0.3442
3     gcag  1850-07  -0.1598
4     gcag  1850-08  -0.2077
...    ...      ...      ...
3815  gcag  2024-03   1.2515
3816  gcag  2024-04   1.2053
3817  gcag  2024-05   1.0745
3818  gcag  2024-06   1.1154
3819  gcag  2024-07   1.1398

[3820 rows x 3 columns]

In [22]:
df = pd.read_csv(url,encoding="utf-8")
print(df)

     Source     Year    Mean
0      gcag  1850-01 -0.6746
1      gcag  1850-02 -0.3334
2      gcag  1850-03 -0.5913
3      gcag  1850-04 -0.5887
4      gcag  1850-05 -0.5088
...     ...      ...     ...
3818   gcag  2024-03  1.2515
3819   gcag  2024-04  1.2053
3820   gcag  2024-05  1.0745
3821   gcag  2024-06  1.1154
3822   gcag  2024-07  1.1398

[3823 rows x 3 columns]

In [23]:
df = pd.read_csv(url,encoding="latin1")
print(df)

     Source     Year    Mean
0      gcag  1850-01 -0.6746
1      gcag  1850-02 -0.3334
2      gcag  1850-03 -0.5913
3      gcag  1850-04 -0.5887
4      gcag  1850-05 -0.5088
...     ...      ...     ...
3818   gcag  2024-03  1.2515
3819   gcag  2024-04  1.2053
3820   gcag  2024-05  1.0745
3821   gcag  2024-06  1.1154
3822   gcag  2024-07  1.1398

[3823 rows x 3 columns]

In [24]:
df = pd.read_csv(url,na_values=["NULL","NA","--"])
print(df)

     Source     Year    Mean
0      gcag  1850-01 -0.6746
1      gcag  1850-02 -0.3334
2      gcag  1850-03 -0.5913
3      gcag  1850-04 -0.5887
4      gcag  1850-05 -0.5088
...     ...      ...     ...
3818   gcag  2024-03  1.2515
3819   gcag  2024-04  1.2053
3820   gcag  2024-05  1.0745
3821   gcag  2024-06  1.1154
3822   gcag  2024-07  1.1398

[3823 rows x 3 columns]

In [27]:
df = pd.read_csv(url,parse_dates=["Year"],dayfirst=True)
print(df)

     Source       Year    Mean
0      gcag 1850-01-01 -0.6746
1      gcag 1850-02-01 -0.3334
2      gcag 1850-03-01 -0.5913
3      gcag 1850-04-01 -0.5887
4      gcag 1850-05-01 -0.5088
...     ...        ...     ...
3818   gcag 2024-03-01  1.2515
3819   gcag 2024-04-01  1.2053
3820   gcag 2024-05-01  1.0745
3821   gcag 2024-06-01  1.1154
3822   gcag 2024-07-01  1.1398

[3823 rows x 3 columns]

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3823 entries, 0 to 3822
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Source  3823 non-null   object
 1   Year    3823 non-null   datetime64[ns]
 2   Mean    3823 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 89.7+ KB

In [28]:
url1="https://raw.githubusercontent.com/phurbalama/Student-Information-collection-using-CSV-file-/refs/heads/master/inputData.csv"
stud_info = pd.read_csv(url1)
print(stud_info)

   FIRSTNAME  LASTNAME          ID                          EMAIL  \
0      James      Butt  5046218927                jbutt@gmail.com
1  Josephine   Darakjy  8102929388  josephine_darakjy@darakjy.org
2        Art    Venere  8566368749                 art@venere.org
3      Lenna  Paprocki  9073854412          lpaprocki@hotmail.com
4    Donette    Foller  5135701893         donette.foller@cox.net

                 STREET         CITY STATE  ZIPCODE     TELEPHONE  EXAM1  \
0            3 Secor Rd  New Orleans    LA    70112  504-710-5840     60
1    6649 N Blue Gum St  New Orleans    LA    70116  504-621-8927     80
2   4 B Blue Ridge Blvd     Brighton    MI    48116  810-292-9388     75
3  8 W Cerritos Ave #54   Bridgeport    NJ     8014  856-636-8749     90
4           639 Main St    Anchorage    AK    99501  907-385-4412     88

   EXAM2  EXAM3
0     98     66
1     77     78
2     50     69
3     70     78
4     79     90

In [30]:
stud_info = pd.read_csv(url1,sep="|")
print(stud_info)

  FIRSTNAME,LASTNAME,ID,EMAIL,STREET,CITY,STATE,ZIPCODE,TELEPHONE,EXAM1,EXAM2,EXAM3
0  James,Butt,5046218927,jbutt@gmail.com,3 Secor ...
1  Josephine,Darakjy,8102929388,josephine_darakjy...
2  Art,Venere,8566368749,art@venere.org,4 B Blue ...
3  Lenna,Paprocki,9073854412,lpaprocki@hotmail.co...
4  Donette,Foller,5135701893,donette.foller@cox.n...

In [31]:
stud_info = pd.read_csv(url1,header=0)
print(stud_info)

   FIRSTNAME  LASTNAME          ID                          EMAIL  \
0      James      Butt  5046218927                jbutt@gmail.com
1  Josephine   Darakjy  8102929388  josephine_darakjy@darakjy.org
2        Art    Venere  8566368749                 art@venere.org
3      Lenna  Paprocki  9073854412          lpaprocki@hotmail.com
4    Donette    Foller  5135701893         donette.foller@cox.net

                 STREET         CITY STATE  ZIPCODE     TELEPHONE  EXAM1  \
0            3 Secor Rd  New Orleans    LA    70112  504-710-5840     60
1    6649 N Blue Gum St  New Orleans    LA    70116  504-621-8927     80
2   4 B Blue Ridge Blvd     Brighton    MI    48116  810-292-9388     75
3  8 W Cerritos Ave #54   Bridgeport    NJ     8014  856-636-8749     90
4           639 Main St    Anchorage    AK    99501  907-385-4412     88

   EXAM2  EXAM3
0     98     66
1     77     78
2     50     69
3     70     78
4     79     90

In [32]:
stud_info = pd.read_csv(url1,header=2)
print(stud_info)

  Josephine   Darakjy  8102929388 josephine_darakjy@darakjy.org  \
0       Art    Venere  8566368749                art@venere.org
1     Lenna  Paprocki  9073854412         lpaprocki@hotmail.com
2   Donette    Foller  5135701893        donette.foller@cox.net

     6649 N Blue Gum St New Orleans  LA  70116  504-621-8927  80  77  78
0   4 B Blue Ridge Blvd    Brighton  MI  48116  810-292-9388  75  50  69
1  8 W Cerritos Ave #54  Bridgeport  NJ   8014  856-636-8749  90  70  78
2           639 Main St   Anchorage  AK  99501  907-385-4412  88  79  90

In [33]:
stud_info = pd.read_csv(url1,header=None)
print(stud_info)

          0         1           2                              3   \
0  FIRSTNAME  LASTNAME          ID                          EMAIL
1      James      Butt  5046218927                jbutt@gmail.com
2  Josephine   Darakjy  8102929388  josephine_darakjy@darakjy.org
3        Art    Venere  8566368749                 art@venere.org
4      Lenna  Paprocki  9073854412          lpaprocki@hotmail.com
5    Donette    Foller  5135701893         donette.foller@cox.net

                     4            5      6        7             8      9   \
0                STREET         CITY  STATE  ZIPCODE     TELEPHONE  EXAM1
1            3 Secor Rd  New Orleans     LA    70112  504-710-5840     60
2    6649 N Blue Gum St  New Orleans     LA    70116  504-621-8927     80
3   4 B Blue Ridge Blvd     Brighton     MI    48116  810-292-9388     75
4  8 W Cerritos Ave #54   Bridgeport     NJ     8014  856-636-8749     90
5           639 Main St    Anchorage     AK    99501  907-385-4412     88

      10     11
0  EXAM2  EXAM3
1     98     66
2     77     78
3     50     69
4     70     78
5     79     90

In [34]:
stud_info = pd.read_csv(url1,names=["fname","lname","id","email","add","city","state","zipcode","telephone","exam1","exam2","exam3"])
print(stud_info)

       fname     lname          id                          email  \
0  FIRSTNAME  LASTNAME          ID                          EMAIL
1      James      Butt  5046218927                jbutt@gmail.com
2  Josephine   Darakjy  8102929388  josephine_darakjy@darakjy.org
3        Art    Venere  8566368749                 art@venere.org
4      Lenna  Paprocki  9073854412          lpaprocki@hotmail.com
5    Donette    Foller  5135701893         donette.foller@cox.net

                    add         city  state  zipcode     telephone  exam1  \
0                STREET         CITY  STATE  ZIPCODE     TELEPHONE  EXAM1
1            3 Secor Rd  New Orleans     LA    70112  504-710-5840     60
2    6649 N Blue Gum St  New Orleans     LA    70116  504-621-8927     80
3   4 B Blue Ridge Blvd     Brighton     MI    48116  810-292-9388     75
4  8 W Cerritos Ave #54   Bridgeport     NJ     8014  856-636-8749     90
5           639 Main St    Anchorage     AK    99501  907-385-4412     88

   exam2  exam3
0  EXAM2  EXAM3
1     98     66
2     77     78
3     50     69
4     70     78
5     79     90

In [36]:
stud_info = pd.read_csv(url1,index_col="FIRSTNAME")
print(stud_info)

           LASTNAME          ID                          EMAIL  \
FIRSTNAME
James          Butt  5046218927                jbutt@gmail.com
Josephine   Darakjy  8102929388  josephine_darakjy@darakjy.org
Art          Venere  8566368749                 art@venere.org
Lenna      Paprocki  9073854412          lpaprocki@hotmail.com
Donette      Foller  5135701893         donette.foller@cox.net

                         STREET         CITY STATE  ZIPCODE     TELEPHONE  \
FIRSTNAME
James                3 Secor Rd  New Orleans    LA    70112  504-710-5840
Josephine    6649 N Blue Gum St  New Orleans    LA    70116  504-621-8927
Art         4 B Blue Ridge Blvd     Brighton    MI    48116  810-292-9388
Lenna      8 W Cerritos Ave #54   Bridgeport    NJ     8014  856-636-8749
Donette             639 Main St    Anchorage    AK    99501  907-385-4412

           EXAM1  EXAM2  EXAM3
FIRSTNAME
James         60     98     66
Josephine     80     77     78
Art           75     50     69
Lenna         90     70     78
Donette       88     79     90

In [37]:
stud_info = pd.read_csv(url1,usecols=[2,0,1])
print(stud_info)

   FIRSTNAME  LASTNAME          ID
0      James      Butt  5046218927
1  Josephine   Darakjy  8102929388
2        Art    Venere  8566368749
3      Lenna  Paprocki  9073854412
4    Donette    Foller  5135701893

In [38]:
stud_info = pd.read_csv(url1,encoding="latin1")
print(stud_info)

   FIRSTNAME  LASTNAME          ID                          EMAIL  \
0      James      Butt  5046218927                jbutt@gmail.com
1  Josephine   Darakjy  8102929388  josephine_darakjy@darakjy.org
2        Art    Venere  8566368749                 art@venere.org
3      Lenna  Paprocki  9073854412          lpaprocki@hotmail.com
4    Donette    Foller  5135701893         donette.foller@cox.net

                 STREET         CITY STATE  ZIPCODE     TELEPHONE  EXAM1  \
0            3 Secor Rd  New Orleans    LA    70112  504-710-5840     60
1    6649 N Blue Gum St  New Orleans    LA    70116  504-621-8927     80
2   4 B Blue Ridge Blvd     Brighton    MI    48116  810-292-9388     75
3  8 W Cerritos Ave #54   Bridgeport    NJ     8014  856-636-8749     90
4           639 Main St    Anchorage    AK    99501  907-385-4412     88

   EXAM2  EXAM3
0     98     66
1     77     78
2     50     69
3     70     78
4     79     90

In [40]:
url2 = "https://raw.githubusercontent.com/ulissesbomjardim/Bank-Marketing-Analysis/refs/heads/master/bank/bank.csv"
set2 = pd.read_csv(url2)
print(set2)

     age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
0     30;"unemployed";"married";"primary";"no";1787;...
1     33;"services";"married";"secondary";"no";4789;...
2     35;"management";"single";"tertiary";"no";1350;...
3     30;"management";"married";"tertiary";"no";1476...
4     59;"blue-collar";"married";"secondary";"no";0;...
...                                                 ...
4516  33;"services";"married";"secondary";"no";-333;...
4517  57;"self-employed";"married";"tertiary";"yes";...
4518  57;"technician";"married";"secondary";"no";295...
4519  28;"blue-collar";"married";"secondary";"no";11...
4520  44;"entrepreneur";"single";"tertiary";"no";113...

[4521 rows x 1 columns]

In [46]:
set2 = pd.read_csv(url2,sep=";",usecols=[0,1,2,3,4],na_values=["unknown"],encoding="utf-8",nrows=15)
print(set2)

    age            job  marital  education default
0    30     unemployed  married    primary      no
1    33       services  married  secondary      no
2    35     management   single   tertiary      no
3    30     management  married   tertiary      no
4    59    blue-collar  married  secondary      no
5    35     management   single   tertiary      no
6    36  self-employed  married   tertiary      no
7    39     technician  married  secondary      no
8    41   entrepreneur  married   tertiary      no
9    43       services  married    primary      no
10   39       services  married  secondary      no
11   43         admin.  married  secondary      no
12   36     technician  married   tertiary      no
13   20        student   single  secondary      no
14   31    blue-collar  married  secondary      no

In [48]:
url3="https://raw.githubusercontent.com/harshasanthapur/Datasets_for_Analysis/refs/heads/main/AirPassengers.csv"
passengers = pd.read_csv(url3)
print(passengers)

       Month  #Passengers
0    1949-01          112
1    1949-02          118
2    1949-03          132
3    1949-04          129
4    1949-05          121
..       ...          ...
139  1960-08          606
140  1960-09          508
141  1960-10          461
142  1960-11          390
143  1960-12          432

[144 rows x 2 columns]

In [55]:
passengers = pd.read_csv(url3,index_col="#Passengers",nrows=20,parse_dates=["Month"], dayfirst=True,encoding="utf-8")
print(passengers)

                 Month
#Passengers
112         1949-01-01
118         1949-02-01
132         1949-03-01
129         1949-04-01
121         1949-05-01
135         1949-06-01
148         1949-07-01
148         1949-08-01
136         1949-09-01
119         1949-10-01
104         1949-11-01
118         1949-12-01
115         1950-01-01
126         1950-02-01
141         1950-03-01
135         1950-04-01
125         1950-05-01
149         1950-06-01
170         1950-07-01
170         1950-08-01