In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv(r"C:\Users\khati\OneDrive\Desktop\Program_stud\python\Data Science\datasets\zomato_.csv")
print(df)

    Restaurant_ID  Restaurant_Name Country       City         Locality  \
0               1        Spice Hub   India     Mumbai          Andheri
1               2      Urban Tadka   India       Pune        Hinjewadi
2               3       Cafe Bliss   India  Bengaluru      Indiranagar
3               4    Royal Biryani   India  Hyderabad    Banjara Hills
4               5     Food Factory   India      Delhi  Connaught Place
5               6     Pizza Palace   India     Mumbai          Andheri
6               7     Burger Point   India       Pune        Hinjewadi
7               8      Chinese Wok   India  Bengaluru      Indiranagar
8               9    South Express   India  Hyderabad    Banjara Hills
9              10    Punjabi Dhaba   India      Delhi  Connaught Place
10             11       BBQ Nation   India     Mumbai          Andheri
11             12   Taste of India   India       Pune        Hinjewadi
12             13     Street Zaika   India  Bengaluru      Indiranagar
13             14      Veg Delight   India  Hyderabad    Banjara Hills
14             15     Masala Magic   India      Delhi  Connaught Place
15             16      Grill House   India     Mumbai          Andheri
16             17    Seafood Shack   India       Pune        Hinjewadi
17             18     Healthy Bowl   India  Bengaluru      Indiranagar
18             19   Dessert Heaven   India        NaN    Banjara Hills
19             20    Coffee Corner   India      Delhi  Connaught Place
20             21      Wrap & Roll   India     Mumbai          Andheri
21             22      Quick Bites   India       Pune        Hinjewadi
22             23   Midnight Munch   India  Bengaluru      Indiranagar
23             24     Flavour Town   India  Hyderabad    Banjara Hills
24             25  Tandoori Nights   India      Delhi  Connaught Place
25             26     Fusion Feast   India     Mumbai          Andheri
26             27    Urban Kitchen   India       Pune        Hinjewadi
27             28       Daily Dine   India  Bengaluru      Indiranagar
28             29    Classic Curry   India  Hyderabad    Banjara Hills
29             30    Food Junction   India      Delhi  Connaught Place

    Latitude  Longitude               Cuisines  Average_Cost_for_Two Currency  \
0      19.11      72.84           North Indian                 800.0      INR
1      18.59      73.73  North Indian, Chinese                 700.0      INR
2      12.97      77.59                   Cafe                 900.0      INR
3      17.41      78.44                    NaN                 600.0      INR
4      28.63      77.21              Fast Food                 500.0      INR
5      19.11      72.84           North Indian                 650.0      INR
6      18.59      73.73  North Indian, Chinese                 450.0      INR
7      12.97      77.59                   Cafe                   NaN      INR
8      17.41      78.44                Biryani                 400.0      INR
9      28.63      77.21              Fast Food                 750.0      INR
10     19.11      72.84           North Indian                1200.0      INR
11     18.59      73.73  North Indian, Chinese                 850.0      INR
12     12.97      77.59                   Cafe                 300.0      INR
13     17.41      78.44                Biryani                 350.0      INR
14     28.63      77.21              Fast Food                 650.0      INR
15     19.11      72.84           North Indian                1000.0      INR
16     18.59      73.73  North Indian, Chinese                1100.0      INR
17     12.97      77.59                   Cafe                 500.0      INR
18     17.41      78.44                Biryani                 600.0      INR
19     28.63      77.21              Fast Food                 450.0      INR
20     19.11      72.84           North Indian                 550.0      INR
21     18.59      73.73  North Indian, Chinese                 300.0      INR
22     12.97      77.59                   Cafe                 400.0      INR
23     17.41      78.44                Biryani                 700.0      INR
24     28.63      77.21              Fast Food                 900.0      INR
25     19.11      72.84           North Indian                 950.0      INR
26     18.59      73.73  North Indian, Chinese                 800.0      INR
27     12.97      77.59                   Cafe                 500.0      INR
28     17.41      78.44                Biryani                 750.0      INR
29     28.63      77.21              Fast Food                 650.0      INR

   Has_Table_Booking Has_Online_Delivery Is_Delivering_Now  Aggregate_Rating  \
0                Yes                 Yes               Yes               4.2
1                 No                 Yes                No               3.8
2                Yes                  No                No               4.5
3                 No                 Yes               Yes               4.1
4                 No                  No                No               3.9
5                Yes                 Yes               Yes               4.0
6                 No                 Yes                No               3.6
7                Yes                  No                No               3.9
8                 No                 Yes               Yes               4.3
9                 No                  No                No               4.0
10               Yes                 Yes               Yes               4.6
11                No                 Yes                No               4.1
12               Yes                  No                No               NaN
13                No                 Yes               Yes               3.7
14                No                  No                No               4.0
15               Yes                 Yes               Yes               4.4
16                No                 Yes                No               4.2
17               Yes                  No                No               3.8
18                No                 Yes               Yes               4.1
19                No                  No                No               3.9
20               Yes                 Yes               Yes               3.6
21                No                 Yes                No               3.4
22               Yes                  No                No               3.7
23                No                 Yes               Yes               4.2
24                No                  No                No               4.5
25               Yes                 Yes               Yes               4.3
26                No                 Yes                No               4.0
27               Yes                  No                No               3.8
28                No                 Yes               Yes               4.1
29                No                  No                No               3.9

   Rating_Color Rating_Text  Votes
0         Green   Very Good  450.0
1        Yellow        Good  320.0
2    Dark Green   Excellent  610.0
3         Green   Very Good  780.0
4        Yellow        Good  500.0
5         Green   Very Good  420.0
6        Yellow        Good  210.0
7    Dark Green   Excellent  330.0
8         Green   Very Good  390.0
9        Yellow        Good  440.0
10        Green   Very Good  820.0
11       Yellow        Good  510.0
12   Dark Green   Excellent  190.0
13        Green   Very Good  220.0
14       Yellow        Good  360.0
15        Green   Very Good  610.0
16       Yellow        Good  690.0
17   Dark Green   Excellent  280.0
18        Green   Very Good  410.0
19       Yellow        Good  300.0
20        Green   Very Good  260.0
21       Yellow        Good  180.0
22   Dark Green   Excellent    NaN
23        Green   Very Good  470.0
24       Yellow        Good  650.0
25        Green   Very Good  590.0
26       Yellow        Good  430.0
27   Dark Green   Excellent  310.0
28        Green   Very Good  480.0
29       Yellow        Good  350.0

In [2]:
df['Cost_Category'] = "Low"
df.loc[df['Average_Cost_for_Two'] > 500, 'Cost_Category'] = "Medium"
df.loc[df['Average_Cost_for_Two'] > 800, 'Cost_Category'] = "High"
print(df)

    Restaurant_ID  Restaurant_Name Country       City         Locality  \
0               1        Spice Hub   India     Mumbai          Andheri
1               2      Urban Tadka   India       Pune        Hinjewadi
2               3       Cafe Bliss   India  Bengaluru      Indiranagar
3               4    Royal Biryani   India  Hyderabad    Banjara Hills
4               5     Food Factory   India      Delhi  Connaught Place
5               6     Pizza Palace   India     Mumbai          Andheri
6               7     Burger Point   India       Pune        Hinjewadi
7               8      Chinese Wok   India  Bengaluru      Indiranagar
8               9    South Express   India  Hyderabad    Banjara Hills
9              10    Punjabi Dhaba   India      Delhi  Connaught Place
10             11       BBQ Nation   India     Mumbai          Andheri
11             12   Taste of India   India       Pune        Hinjewadi
12             13     Street Zaika   India  Bengaluru      Indiranagar
13             14      Veg Delight   India  Hyderabad    Banjara Hills
14             15     Masala Magic   India      Delhi  Connaught Place
15             16      Grill House   India     Mumbai          Andheri
16             17    Seafood Shack   India       Pune        Hinjewadi
17             18     Healthy Bowl   India  Bengaluru      Indiranagar
18             19   Dessert Heaven   India        NaN    Banjara Hills
19             20    Coffee Corner   India      Delhi  Connaught Place
20             21      Wrap & Roll   India     Mumbai          Andheri
21             22      Quick Bites   India       Pune        Hinjewadi
22             23   Midnight Munch   India  Bengaluru      Indiranagar
23             24     Flavour Town   India  Hyderabad    Banjara Hills
24             25  Tandoori Nights   India      Delhi  Connaught Place
25             26     Fusion Feast   India     Mumbai          Andheri
26             27    Urban Kitchen   India       Pune        Hinjewadi
27             28       Daily Dine   India  Bengaluru      Indiranagar
28             29    Classic Curry   India  Hyderabad    Banjara Hills
29             30    Food Junction   India      Delhi  Connaught Place

    Latitude  Longitude               Cuisines  Average_Cost_for_Two Currency  \
0      19.11      72.84           North Indian                 800.0      INR
1      18.59      73.73  North Indian, Chinese                 700.0      INR
2      12.97      77.59                   Cafe                 900.0      INR
3      17.41      78.44                    NaN                 600.0      INR
4      28.63      77.21              Fast Food                 500.0      INR
5      19.11      72.84           North Indian                 650.0      INR
6      18.59      73.73  North Indian, Chinese                 450.0      INR
7      12.97      77.59                   Cafe                   NaN      INR
8      17.41      78.44                Biryani                 400.0      INR
9      28.63      77.21              Fast Food                 750.0      INR
10     19.11      72.84           North Indian                1200.0      INR
11     18.59      73.73  North Indian, Chinese                 850.0      INR
12     12.97      77.59                   Cafe                 300.0      INR
13     17.41      78.44                Biryani                 350.0      INR
14     28.63      77.21              Fast Food                 650.0      INR
15     19.11      72.84           North Indian                1000.0      INR
16     18.59      73.73  North Indian, Chinese                1100.0      INR
17     12.97      77.59                   Cafe                 500.0      INR
18     17.41      78.44                Biryani                 600.0      INR
19     28.63      77.21              Fast Food                 450.0      INR
20     19.11      72.84           North Indian                 550.0      INR
21     18.59      73.73  North Indian, Chinese                 300.0      INR
22     12.97      77.59                   Cafe                 400.0      INR
23     17.41      78.44                Biryani                 700.0      INR
24     28.63      77.21              Fast Food                 900.0      INR
25     19.11      72.84           North Indian                 950.0      INR
26     18.59      73.73  North Indian, Chinese                 800.0      INR
27     12.97      77.59                   Cafe                 500.0      INR
28     17.41      78.44                Biryani                 750.0      INR
29     28.63      77.21              Fast Food                 650.0      INR

   Has_Table_Booking Has_Online_Delivery Is_Delivering_Now  Aggregate_Rating  \
0                Yes                 Yes               Yes               4.2
1                 No                 Yes                No               3.8
2                Yes                  No                No               4.5
3                 No                 Yes               Yes               4.1
4                 No                  No                No               3.9
5                Yes                 Yes               Yes               4.0
6                 No                 Yes                No               3.6
7                Yes                  No                No               3.9
8                 No                 Yes               Yes               4.3
9                 No                  No                No               4.0
10               Yes                 Yes               Yes               4.6
11                No                 Yes                No               4.1
12               Yes                  No                No               NaN
13                No                 Yes               Yes               3.7
14                No                  No                No               4.0
15               Yes                 Yes               Yes               4.4
16                No                 Yes                No               4.2
17               Yes                  No                No               3.8
18                No                 Yes               Yes               4.1
19                No                  No                No               3.9
20               Yes                 Yes               Yes               3.6
21                No                 Yes                No               3.4
22               Yes                  No                No               3.7
23                No                 Yes               Yes               4.2
24                No                  No                No               4.5
25               Yes                 Yes               Yes               4.3
26                No                 Yes                No               4.0
27               Yes                  No                No               3.8
28                No                 Yes               Yes               4.1
29                No                  No                No               3.9

   Rating_Color Rating_Text  Votes Cost_Category
0         Green   Very Good  450.0        Medium
1        Yellow        Good  320.0        Medium
2    Dark Green   Excellent  610.0          High
3         Green   Very Good  780.0        Medium
4        Yellow        Good  500.0           Low
5         Green   Very Good  420.0        Medium
6        Yellow        Good  210.0           Low
7    Dark Green   Excellent  330.0           Low
8         Green   Very Good  390.0           Low
9        Yellow        Good  440.0        Medium
10        Green   Very Good  820.0          High
11       Yellow        Good  510.0          High
12   Dark Green   Excellent  190.0           Low
13        Green   Very Good  220.0           Low
14       Yellow        Good  360.0        Medium
15        Green   Very Good  610.0          High
16       Yellow        Good  690.0          High
17   Dark Green   Excellent  280.0           Low
18        Green   Very Good  410.0        Medium
19       Yellow        Good  300.0           Low
20        Green   Very Good  260.0        Medium
21       Yellow        Good  180.0           Low
22   Dark Green   Excellent    NaN           Low
23        Green   Very Good  470.0        Medium
24       Yellow        Good  650.0          High
25        Green   Very Good  590.0          High
26       Yellow        Good  430.0        Medium
27   Dark Green   Excellent  310.0           Low
28        Green   Very Good  480.0        Medium
29       Yellow        Good  350.0        Medium

<h1>Logic Explanation</h1><br>we have already column name "Average_cost_for_two" from that column we already know that restaurant have avg price of two cuisines so from that we make new column name in which name called "Cost_category" in which we firstly declared all price is low then from using loc data selector we provide some conditions in which if average_cost_for_two is in between 501 to 800 is medium and if more than 800 is high cost