In [3]:
import pandas as pd

df1 = pd.read_csv(r"C:\Users\khati\Downloads\StudentsPerformance_with_headers.csv")
df2 = pd.read_csv(r"C:\Users\khati\Downloads\StudentsPerformance.csv")

print(df1.head())
print(df2.head())

  STUDENT ID  Student Age  Sex  Graduated high-school type  Scholarship type  \
0   STUDENT1            2    2                           3                 3
1   STUDENT2            2    2                           3                 3
2   STUDENT3            2    2                           2                 3
3   STUDENT4            1    1                           1                 3
4   STUDENT5            2    2                           1                 3

   Additional work  Regular artistic or sports activity  \
0                1                                    2
1                1                                    2
2                2                                    2
3                1                                    2
4                2                                    2

   Do you have a partner  Total salary if available  \
0                      2                          1
1                      2                          1
2                      2                          2
3                      1                          2
4                      1                          3

   Transportation to the university  ...  Preparation to midterm exams 1  \
0                                 1  ...                               1
1                                 1  ...                               1
2                                 4  ...                               1
3                                 1  ...                               1
4                                 1  ...                               2

   Preparation to midterm exams 2  Taking notes in classes  \
0                               1                        3
1                               1                        3
2                               1                        2
3                               2                        3
4                               1                        2

   Listening in classes  \
0                     2
1                     2
2                     2
3                     2
4                     2

   Discussion improves my interest and success in the course  Flip-classroom  \
0                                                  1                       2
1                                                  3                       2
2                                                  1                       1
3                                                  2                       1
4                                                  2                       1

   Cumulative grade point average in the last semester (/4.00)  \
0                                                  1
1                                                  2
2                                                  2
3                                                  3
4                                                  2

   Expected Cumulative grade point average in the graduation (/4.00)  \
0                                                  1
1                                                  3
2                                                  2
3                                                  2
4                                                  2

   COURSE ID  GRADE
0          1      1
1          1      1
2          1      1
3          1      1
4          1      1

[5 rows x 33 columns]
   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75

In [6]:
print(df1.info())
print(df2.info())

print(df1.describe())
print(df2.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 33 columns):
 #   Column                                                             Non-Null Count  Dtype
---  ------                                                             --------------  -----
 0   STUDENT ID                                                         145 non-null    object
 1   Student Age                                                        145 non-null    int64
 2   Sex                                                                145 non-null    int64
 3   Graduated high-school type                                         145 non-null    int64
 4   Scholarship type                                                   145 non-null    int64
 5   Additional work                                                    145 non-null    int64
 6   Regular artistic or sports activity                                145 non-null    int64
 7   Do you have a partner                                              145 non-null    int64
 8   Total salary if available                                          145 non-null    int64
 9   Transportation to the university                                   145 non-null    int64
 10  Accommodation type in Cyprus                                       145 non-null    int64
 11  Mother’s education                                                 145 non-null    int64
 12  Father’s education                                                 145 non-null    int64
 13  Number of sisters/brothers                                         145 non-null    int64
 14  Parental status                                                    145 non-null    int64
 15  Mother’s occupation                                                145 non-null    int64
 16  Father’s occupation                                                145 non-null    int64
 17  Weekly study hours                                                 145 non-null    int64
 18  Reading frequency                                                  145 non-null    int64
 19  Reading frequency.1                                                145 non-null    int64
 20  Attendance to the seminars/conferences related to the department   145 non-null    int64
 21  Impact of your projects/activities on your success                 145 non-null    int64
 22  Attendance to classes                                              145 non-null    int64
 23  Preparation to midterm exams 1                                     145 non-null    int64
 24  Preparation to midterm exams 2                                     145 non-null    int64
 25  Taking notes in classes                                            145 non-null    int64
 26  Listening in classes                                               145 non-null    int64
 27  Discussion improves my interest and success in the course          145 non-null    int64
 28  Flip-classroom                                                     145 non-null    int64
 29  Cumulative grade point average in the last semester (/4.00)        145 non-null    int64
 30  Expected Cumulative grade point average in the graduation (/4.00)  145 non-null    int64
 31  COURSE ID                                                          145 non-null    int64
 32  GRADE                                                              145 non-null    int64
dtypes: int64(32), object(1)
memory usage: 37.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None
       Student Age         Sex  Graduated high-school type  Scholarship type  \
count   145.000000  145.000000                  145.000000        145.000000
mean      1.620690    1.600000                    1.944828          3.572414
std       0.613154    0.491596                    0.537216          0.805750
min       1.000000    1.000000                    1.000000          1.000000
25%       1.000000    1.000000                    2.000000          3.000000
50%       2.000000    2.000000                    2.000000          3.000000
75%       2.000000    2.000000                    2.000000          4.000000
max       3.000000    2.000000                    3.000000          5.000000

       Additional work  Regular artistic or sports activity  \
count       145.000000                           145.000000
mean          1.662069                             1.600000
std           0.474644                             0.491596
min           1.000000                             1.000000
25%           1.000000                             1.000000
50%           2.000000                             2.000000
75%           2.000000                             2.000000
max           2.000000                             2.000000

       Do you have a partner  Total salary if available  \
count             145.000000                 145.000000
mean                1.579310                   1.627586
std                 0.495381                   1.020245
min                 1.000000                   1.000000
25%                 1.000000                   1.000000
50%                 2.000000                   1.000000
75%                 2.000000                   2.000000
max                 2.000000                   5.000000

       Transportation to the university  Accommodation type in Cyprus  ...  \
count                        145.000000                    145.000000  ...
mean                           1.620690                      1.731034  ...
std                            1.061112                      0.783999  ...
min                            1.000000                      1.000000  ...
25%                            1.000000                      1.000000  ...
50%                            1.000000                      2.000000  ...
75%                            2.000000                      2.000000  ...
max                            4.000000                      4.000000  ...

       Preparation to midterm exams 1  Preparation to midterm exams 2  \
count                      145.000000                      145.000000
mean                         1.337931                        1.165517
std                          0.614870                        0.408483
min                          1.000000                        1.000000
25%                          1.000000                        1.000000
50%                          1.000000                        1.000000
75%                          2.000000                        1.000000
max                          3.000000                        3.000000

       Taking notes in classes  Listening in classes  \
count               145.000000            145.000000
mean                  2.544828              2.055172
std                   0.564940              0.674736
min                   1.000000              1.000000
25%                   2.000000              2.000000
50%                   3.000000              2.000000
75%                   3.000000              3.000000
max                   3.000000              3.000000

       Discussion improves my interest and success in the course  \
count                                         145.000000
mean                                            2.393103
std                                             0.604343
min                                             1.000000
25%                                             2.000000
50%                                             2.000000
75%                                             3.000000
max                                             3.000000

       Flip-classroom  \
count      145.000000
mean         1.806897
std          0.810492
min          1.000000
25%          1.000000
50%          2.000000
75%          2.000000
max          3.000000

       Cumulative grade point average in the last semester (/4.00)  \
count                                         145.000000
mean                                            3.124138
std                                             1.301083
min                                             1.000000
25%                                             2.000000
50%                                             3.000000
75%                                             4.000000
max                                             5.000000

       Expected Cumulative grade point average in the graduation (/4.00)  \
count                                         145.000000
mean                                            2.724138
std                                             0.916536
min                                             1.000000
25%                                             2.000000
50%                                             3.000000
75%                                             3.000000
max                                             4.000000

        COURSE ID       GRADE
count  145.000000  145.000000
mean     4.131034    3.227586
std      3.260145    2.197678
min      1.000000    0.000000
25%      1.000000    1.000000
50%      3.000000    3.000000
75%      7.000000    5.000000
max      9.000000    7.000000

[8 rows x 32 columns]
       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [5]:
print(df1.shape)
print(df2.shape)

(145, 33)
(1000, 8)

<h1>dataset completion identification </h1><br>
after seeing both datasets dataset2 (df2)is complete becouse there column names are understandable

In [7]:
print(df1.isnull().sum())
print(df2.isnull().sum())

STUDENT ID                                                           0
Student Age                                                          0
Sex                                                                  0
Graduated high-school type                                           0
Scholarship type                                                     0
Additional work                                                      0
Regular artistic or sports activity                                  0
Do you have a partner                                                0
Total salary if available                                            0
Transportation to the university                                     0
Accommodation type in Cyprus                                         0
Mother’s education                                                   0
Father’s education                                                   0
Number of sisters/brothers                                           0
Parental status                                                      0
Mother’s occupation                                                  0
Father’s occupation                                                  0
Weekly study hours                                                   0
Reading frequency                                                    0
Reading frequency.1                                                  0
Attendance to the seminars/conferences related to the department     0
Impact of your projects/activities on your success                   0
Attendance to classes                                                0
Preparation to midterm exams 1                                       0
Preparation to midterm exams 2                                       0
Taking notes in classes                                              0
Listening in classes                                                 0
Discussion improves my interest and success in the course            0
Flip-classroom                                                       0
Cumulative grade point average in the last semester (/4.00)          0
Expected Cumulative grade point average in the graduation (/4.00)    0
COURSE ID                                                            0
GRADE                                                                0
dtype: int64
gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

<h1>missing values</h1><br>
</h1>no any dataset have null value

<h1>challenges faced</h1><br>no challnges this dataset are download from kaggle

In [ ]:
<h1>after analysing both dataset df2 is better becouse it is understandable and it is very simple to undersstang